apiVersion: "kubeflow.org/v1"
kind: "PyTorchJob"
metadata:
  name: "pytorch-ddp-example-nccl"
spec:
  pytorchReplicaSpecs:
    Master:
      replicas: 1
      # https://www.kubeflow.org/docs/components/training/user-guides/tensorflow/
      restartPolicy: OnFailure
      template:
        spec:
          tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          containers:
            - name: pytorch
              image: registry.cn/linuzb/pytorch:pytorch-ddp-4aebec7
              command:
              - "python"
              - "/project/src/pytorch_ddp_example/__main__.py"
              args:
              - --epochs=10
              - --batch-size=64
              - --test-batch-size=1000
              - --lr=0.01
              - --momentum=0.5
              - --seed=1
              - --log-interval=10
              - --dir=logs
              - --backend=nccl
              - --dataset-mirror=http://registry.cn:9000/dataset/
              resources: 
                limits:
                  nvidia.com/gpu: 1
          # nodeSelector:
          #   gpu-type: nvidia-geforce-rtx-4090

    Worker:
      replicas: 2
      restartPolicy: OnFailure
      template:
        spec:
          tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          containers: 
            - name: pytorch
              image: registry.cn/linuzb/pytorch:pytorch-ddp-4aebec7
              command:
              - "python"
              - "/project/src/pytorch_ddp_example/__main__.py"
              args:
              - --epochs=10
              - --batch-size=64
              - --test-batch-size=1000
              - --lr=0.01
              - --momentum=0.5
              - --seed=1
              - --log-interval=10
              - --dir=logs
              - --backend=nccl
              - --dataset-mirror=http://registry.cn:9000/dataset/
              resources: 
                limits:
                  nvidia.com/gpu: 1
          # nodeSelector:
          #   gpu-type: nvidia-geforce-rtx-4090