apiVersion: "kubeflow.org/v1"
kind: "PyTorchJob"
metadata:
  name: "pytorch-ddp-example-nccl"
spec:
  pytorchReplicaSpecs:
    Master:
      replicas: 1
      # https://www.kubeflow.org/docs/components/training/user-guides/tensorflow/
      restartPolicy: Never
      template:
        spec:
          tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          containers:
            - name: pytorch
              image: registry.cn/linuzb/pytorch:pytorch-ddp-239049a
              command: ["/bin/bash", "-c"] # 使用bash作为入口点，并传入-c参数以执行后续命令字符串
              args: ["
                ln -sf /usr/bin/python3 /project/.venv/bin/python; 
                python /project/src/pytorch_ddp_example/__main__.py --local_rank=0
              "] # 多个命令以分号隔开，形成一个字符串
              resources: 
                limits:
                  nvidia.com/gpu: 1
    Worker:
      replicas: 1
      restartPolicy: Never
      template:
        spec:
          tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"
          containers: 
            - name: pytorch
              image: registry.cn/linuzb/pytorch:pytorch-ddp-239049a
              command: ["/bin/bash", "-c"] # 使用bash作为入口点，并传入-c参数以执行后续命令字符串
              args: ["
                ln -sf /usr/bin/python3 /project/.venv/bin/python; 
                python /project/src/pytorch_ddp_example/__main__.py --local_rank=0
              "] # 多个命令以分号隔开，形成一个字符串
              resources: 
                limits:
                  nvidia.com/gpu: 1